@model RaceTrack.ViewModels.VehiclesOnTrackViewModel

@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Race Track</title>
</head>
<body>
    @using (Html.BeginForm("Remove", "Home", FormMethod.Post))
    {
        <table id="myTable" class="table" cellspacing="0">
            <thead>
                <tr>
                    <th>Vehicle Id</th>
                    <th>Vehicle Type</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Vehicles.Count() == 0)
                {
                    <tr>
                        <td colspan="3">No Vehicles on Track</td>
                    </tr>
                }
                else if (Model.Vehicles.Count() > 0)
                {
                    foreach (var property in Model.Vehicles)
                    {
                        <tr>

                            <td>@property.Id</td>
                            <td>@property.VehicleType</td>
                            <td>@Html.CheckBox("remove", new { value = property.Id })</td>
                        </tr>
                    }
                }
            <tr>
                @if (Model.Vehicles.Count() == Model.Vehicles.FirstOrDefault().TrackLimit)
                {
                    <td>Track Full</td>
                }
                else
                {
                    <td>@Html.ActionLink("Add vehicle to track", "AddVehicle", "AddVehicle")</td>
                }
                <td></td>
                <td><input type="submit" class="submit" value="Remove Selected" /></td>
            </tr>
            </tbody>
        </table>
    }
</body>
</html>